@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Frank+Ruhl+Libre:wght@300;400;500;600&family=Inter:wght@800&family=Noto+Sans+Lepcha&family=Poppins:ital,wght@0,300;0,400;0,600;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;1,300&family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Frank+Ruhl+Libre:wght@300;400;500;600&family=Inter:wght@800&family=Noto+Sans+Avestan&family=Noto+Sans+Lepcha&family=Poppins:ital,wght@0,300;0,400;0,600;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;1,300&family=Secular+One&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    overflow-x: hidden !important;
}
.header-img-icon {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #1c2a3d;
    overflow-x: auto;
    z-index: 1;
    /* border-right: 5px inset #2eaf2e; */
    box-shadow: 0 0 5px 5px #055e14;
}
.header-img-icon .profile-detail img {
    margin: 20px auto;
    display: block;
    width: 130px !important;
    height: 130px !important;
    border: 8px inset #bfe0a9;
}
.header-img-icon .profile-detail img {
    margin: 20px auto;
    display: block;
    width: 120px;
    height: 120px;
    border: 8px inset #bfe0a9;
}
.header-img-icon .profile-detail h2 {
    font-size: 24px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.header-img-icon .profile-detail h2 a,
.header-img-icon .profile-detail h2 a:hover {
    color: #ffff;
    text-decoration: none;
}
.header-img-icon .profile-detail .social-media-icon a {
    font-size: 18px;
    display: inline-block;
    background-color: #616685;
    color: #ffff;
    line-height: 1px;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.header-img-icon .profile-detail .social-media-icon a:hover {
    background-color: #00A78E;
}
.navbar {
    padding-top: 30px;
}
.navbar a {
    display: flex;
    color: #a8a9ba;
    padding: 3px 22px !important;
    margin: 0px 75px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    font-family: 'Noto Sans Avestan', sans-serif;
}
.navbar a span{
    padding-top: 3px !important;
}
.navbar a i {
    margin-right: 8px;
    font-size: 20px;
    color: #6f7180;
}
.navbar ul li a i{
    color: #fff;
    font-weight: bold;
}
.navbar ul li:hover a {
    color: #fff;
}
.mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px !important;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1px;
    cursor: pointer;
    text-align: right;
    z-index: 6;
}
#hero {
    width: 100%;
}
#hero img {
    width: 100%;
}
.hero-container-detail {
    position: absolute;
    top: 0% !important;
    margin-left: 25%;
    margin-top: 25%;
}
.hero-container-detail h3 {
    font-size: 50px;
    font-weight: bold;
}
.hero-container-detail p {
    font-size: 25px !important;
}
#main {
    margin-left: 300px;
}
.experience {
    background-color: #bfe0a9;
}
.date-background {
    width: 100%;
    text-align: center;
    background-color: black;
}
.portfolio-heading {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 10px solid;
    font-weight: bold;
    border-image: linear-gradient(135deg, #68fff6, #ffea4a, #ff0dd7) 5;
    font-size: 55px;
    background: -webkit-linear-gradient(45deg, #68fff6, #ffea4a, #ff0dd7);
    /*background-clip: text;*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
}
.download-resume {
    box-shadow: 0 20px 10px rgb(0, 0, 0, 0.4);
    border-radius: 25px 0 25px 0;
}
.resume-title {
    background-color: #bfe0a9;
}
.contact-icon i {
    background-color: #dff3fc;
    color: #149ddd
}
.contact-icon i:hover {
    background-color: #00A78E;
    color: #fff;
}
.footer {
    width: 100% !important;
    background-color: #040b14;
}
.heading-colour{
    color: #0075bf;
    font-family: 'Inter', sans-serif;
}
@media only screen and (min-width: 320px) and (max-width: 575px) {
    #hero {
        width: 100%;
        filter: brightness(50%) !important;
    }
    .hero-container-detail {
        position: absolute;
        top: 0% !important;
        margin-left: 25%;
        margin-top: 25%;
    }
    .hero-container-detail h3 {
        font-size: 25px !important;
        font-weight: bold;
    }
    .hero-container-detail p {
        font-size: 13px !important;
    }
    #main {
        margin-left: 0px !important;
    }
    .education .university {
        padding-top: 15px !important;
    }
    .portfolio-heading {
        font-size: 35px;
    }
    .navbar {
        padding-top: 20px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    #hero {
        width: 100%;
        filter: brightness(50%) !important;
    }
    .hero-container-detail {
        position: absolute;
        top: 0% !important;
        margin-left: 25%;
        margin-top: 25%;
    }
    .hero-container-detail h3 {
        font-size: 32px !important;
        font-weight: bold;
    }
    .hero-container-detail p {
        font-size: 16px !important;
    }
    #main {
        margin-left: 0px !important;
    }
    .education .university {
        padding-top: 15px !important;
    }
    .navbar {
        padding-top: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #hero {
        width: 100%;
        filter: brightness(50%) !important;
    }
    .hero-container-detail {
        position: absolute;
        top: 0% !important;
        margin-left: 25%;
        margin-top: 25%;
    }
    .hero-container-detail h3 {
        font-size: 40px !important;
        font-weight: bold;
    }
    .hero-container-detail p {
        font-size: 20px !important;
    }
    #main {
        margin-left: 0px !important;
    }
    .navbar {
        padding-top: 20px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #hero {
        width: 100%;
        filter: brightness(50%) !important;
    }
    .hero-container-detail {
        position: absolute;
        top: 27%;
    }
    .hero-container-detail {
        position: absolute;
        top: 0% !important;
        margin-left: 33%;
        margin-top: 25%;
    }
    .hero-container-detail h3 {
        font-size: 45px !important;
        font-weight: bold;
    }
    .hero-container-detail p {
        font-size: 22px !important;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    #hero {
        width: 100%;
        filter: brightness(50%) !important;
    }
    .hero-container-detail {
        position: absolute;
        top: 0%;
        margin-left: 25%;
        margin-top: 25%;
        /* padding-left: 50px !important; */
    }
    .hero-container-detail h3 {
        font-size: 50px !important;
        font-weight: bold;
    }
    .hero-container-detail p {
        font-size: 25px !important;
    }
}